* {
  text-decoration: none !important;
  list-style: none;
  transition: all 0.2s ease-in-out;
}

body {
  font-family: "Mulish", sans-serif;
}

.btn-first {
  padding: 15px 30px;
  font-weight: map-get($fonts_weight, semi);
  background-color: $first;
  color: $putih;
  border-radius: 10px;

  &:hover {
    background-color: $orange-700;
    color: $gray-500;
  }
}

.btn-second {
  padding: 15px 30px;
  font-weight: map-get($fonts_weight, semi);
  border: 1px solid $first;
  color: $first;
  border-radius: 10px;

  &:hover {
    background-color: $first;
    color: $putih;
  }
}

.nav-link {
  .promo {
    animation: promo 1s infinite ease-in-out;

    @keyframes promo {
      0%,
      100% {
        opacity: 0.3;
      }
      50% {
        opacity: 1;
      }
    }
  }
}

.swiper {
  .btn-slider {
    z-index: 1000;
    right: 30px;
    bottom: 30px;
    color: $first;
    cursor: pointer;
    font-size: 50px;

    &.swiper-button-disabled {
      color: #92481e !important;
    }

    @include media-breakpoint-down(xl) {
      right: 20px;
      bottom: 20px;
      font-size: 40px;
    }
  }

  .swiper-pagination-bullet {
    background-color: #fff;

    &.swiper-pagination-bullet-active {
      border: 5px solid $first outset;
      padding: 5px;

      @include media-breakpoint-down(md) {
        border: 1px solid $first outset;
        padding: 1px;
      }
    }
  }
}

.banner {
  margin-top: 100px !important;
  .card {
    .detail {
      top: 50%;
      transform: translateY(-50%);

      h1 {
        font-size: 24px;
        font-weight: map-get($fonts_weight, semi);
      }
    }
  }
}

.category {
  margin-top: 150px;

  .row-title {
    h1 {
      font-size: 26px;
      font-weight: map-get($fonts_weight, bold);
    }
  }

  .row-card {
    .card {
      box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.07);
      border-radius: 15px;
      padding: 44px 55px;

      &:hover {
        background-color: $first;
        color: #fff;

        img {
          filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
            saturate(0%) hue-rotate(274deg) brightness(102%) contrast(102%);
        }
      }

      h2 {
        font-size: 20px;
        font-weight: map-get($fonts_weight, bold);
      }
    }
  }
}

.product {
  margin-top: 150px;

  .row-title {
    h1 {
      font-size: 26px;
      font-weight: map-get($fonts_weight, bold);
    }
  }
}
